<particles></particles>
    <main>
        <div class="login-box" *ngIf="!loading">
            <p class="titulo">REGISTRO</p>
            <form>
              <div class="user-box">
                <input required="" [(ngModel)]="username" [ngModelOptions]="{ standalone: true }" type="text">
                <label>Nombre completo</label>
              </div>
              <div class="user-box">
                <input required="" [(ngModel)]="email" [ngModelOptions]="{ standalone: true }" type="text">
                <label>Email</label>
              </div>
              <div class="user-box">
                <input required="" [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" type="password">
                <label>Contraseña</label>
              </div>
              <div class="user-box">
                <input required="" [(ngModel)]="passwordVerified" [ngModelOptions]="{ standalone: true }" type="password">
                <label>Conrfima contraseña</label>
              </div>
              <a (click)="registro()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                REGISTRARSE
              </a>
            </form>
            <p>¿Ya tienes cuenta? <a class="a2" (click)="login()">¡Inicia aquí!</a></p>
          </div>

          <loading *ngIf="loading"></loading>

    </main>
