<loading *ngIf="loading"></loading>
<user-navbar *ngIf="!loading"></user-navbar>
<main *ngIf="!loading">

    <section class="Retorno">
        <div class="flecha">&#9668;</div>
        <h3 (click)="regresar()">Regresar - Curso</h3>
    </section>

    <section class="contenido-curso" *ngIf="compObject">
        <div class="vista-course">

            <div class="container-perfil">


                <h2 class="tituloCurso" (click)="titular(EsTitulo)">
                    {{titulo}}
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </h2>
                <span class="indicacion" *ngIf="!EsTitulo">*Actualiza el nombre del módulo del curso</span> 
                <input type="text" [(ngModel)]="nuevoTitulo" *ngIf="!EsTitulo">

                <div class="editButton" *ngIf="!EsTitulo">
                    <label id="upgrate" (click)="actualizarTitulo()">
                        Actualizar
                    </label>
                </div>

                <br>

                <label id="delete" (click)="deleteConfirmation()">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                    Eliminar Módulo
                </label>

                <span class="indicacion">*Portada del módulo</span> 
                <div class="portada">
                    <img [src]="imagen" alt="avatar" id="img">
                </div>
                <input type="file" name="foto" id="foto" accept="image/*" (change)="onFileChange($event)">
                <label for="foto" id="upgrate" *ngIf="portada">
                    <span class="material-symbols-outlined">
                        upgrade
                    </span>
                    Selecciona portada
                </label>
                
                <label for="foto" id="edit" *ngIf="!portada">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                    Editar portada
                </label>
    
                <label (click)="quitarFoto()" id="delete" *ngIf="!portada">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                    Eliminar portada
                </label>

            </div>

            <hr>

            <div class="info-curso" *ngIf="modulos">
                <div class="container">

                    <div class="infor">
                        <label class="titulo info" (click)="_Descripcion(esDescripcion)">
                            <h4>Descripción</h4>
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </label>

                        <div class="inforContent">
                            <p class="descripcion">{{descripcion}}</p>
                            <span class="indicacion" *ngIf="!esDescripcion">*Actualiza la descripción del modulo</span> 
                            <textarea name="" [(ngModel)]="nuevaDescripcion"  *ngIf="!esDescripcion"></textarea>

                            <div class="editButton" *ngIf="!esDescripcion">
                                <label id="upgrate" (click)="actualizarDescripcion()">
                                    Actualizar
                                </label>
                            </div>

                        </div>

                    </div>

                    <div class="infor">
                        <label class="titulo info" (click)="duracion(tiempo)">
                            <h4>Duración</h4>
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </label>

                        <div class="inforContent">
                            <p>{{duracionModulo}} horas</p>
        
                            <span class="indicacion" *ngIf="!tiempo">*Actualiza la duración del módulo </span> 
                            <input type="number" [(ngModel)]="nuevaDuracion" *ngIf="!tiempo" min="0">

                            <div class="editButton" *ngIf="!tiempo">
                                <label id="upgrate" (click)="actualizarDuracion()"> 
                                    Actualizar
                                </label>
                            </div>

                        </div>
    
        
                    </div>

                    <div class="infor">
                        <label class="titulo info" (click)="aprendizaje(objetivo_aprendizaje)">
                            <h4>Objetivo de aprendizaje</h4>
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </label>

                        <div class="inforContent">
                            <p class="descripcion">{{objetivo}}</p>
                            <span class="indicacion" *ngIf="!objetivo_aprendizaje">*Actualiza el objetivo de aprendizaje</span> 
                            <textarea type="text" [(ngModel)]="nuevoObjetivo" *ngIf="!objetivo_aprendizaje"></textarea>

                            <div class="editButton" *ngIf="!objetivo_aprendizaje">
                                <label id="upgrate" (click)="actualizarObjetivo()"> 
                                    Actualizar
                                </label>
                            </div>
                        </div>    
                    </div>

                    <div class="infor">
                        <label class="titulo info" (click)="modalC()">
                            <h4>Competencia(s)</h4>
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </label>

                        <div class="inforContent">
                            <div class="competencias">
                                <ul>
                                    <li *ngFor="let competencia of modulos.competencias">
                                        {{ competencia.nombre }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="infor">
                        <h4 class="titulo info">Temario</h4>
                        <div class="info-tema" *ngFor="let tema of modulos.temas">
                            <label class="titulo">
        
                                <h4>{{ tema.nombre }}</h4>
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </label>

                            <div class="inforContent">
                                <div class="competencias">
                                    <ul>
                                        <li *ngFor="let subtema of tema.subtemas">
                                            {{ subtema.nombre }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="infor">
                        <label class="titulo info" (click)="end(fin)">
                            <h4>Conclusión</h4>
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </label>

                        <div class="inforContent">
                            <p class="descripcion">{{conclusion}}</p>
        
                            <span class="indicacion" *ngIf="!fin">*Actualiza la conclusión del módulo </span> 
                            <input type="text" *ngIf="!fin" [(ngModel)]="nuevaConclusion">

                            <div class="editButton" *ngIf="!fin">
                                <label id="upgrate" (click)="actualizarConclusion()">
                                    Actualizar
                                </label>
                            </div>

                        </div>
                    </div>


                </div>
            </div>

            <hr>

        </div>
        <div class="container-modulo">

            <div class="container-resource" *ngIf="recurso">

                <div class="resource">
                    <label class="titulo">
                        <h4>RECURSO(S) </h4>
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                    </label>
                </div>

                <div class="lista-cursos" >
        
                    <div class="flip-newCard" (click)="newResource()">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="nuevoCurso">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                    Nuevo Recurso
                                </p>
                            </div>
                        </div>
                    </div>
        
                    <div class="flip-card" *ngFor="let resource of resources" class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front" [ngStyle]="{'background-color': getColor(resource.recurso)}">
                                <p class="title">{{resource?.nombre ?? resource?.titulo}}</p>
                            </div>
                            <div class="flip-card-back">
                                <span class="description" style="text-transform: uppercase;">{{resource?.recurso}}</span>
                                <button class="course-button" (click)="verRecurso(resource.recurso, resource.id_video || resource.id_podcast || resource.id_linea_tiempo)">
                                    Ver más
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <br>

            <div class="container-quiz" *ngIf="quiz">

                <div class="resource">
                    <label class="titulo">
                        <h4>QUIZ(ZES) FORMATIVO(S)</h4>
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                    </label>
                </div>

                <div class="lista-cursos" >
        
                    <div class="flip-newCard">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p class="nuevoCurso">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                    Nuevo quiz
                                </p>
                            </div>
                        </div>
                    </div>
        
                    <ng-container *ngIf="quizzes > 0">
                        <div class="flip-card" *ngFor="let quizz of quizzes" class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <p class="title">{{quizz?.titulo}}</p>
                                </div>
                                <div class="flip-card-back">
    
                                    <button class="course-button">
                                        Ver más
                                    </button>
                                    
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

            </div>

        </div>

    </section>

    <section class="contenido-com-obj" *ngIf="!compObject">
    
        <div class="modal">
            
            <div class="container-modal">

                <span class="material-symbols-outlined" (click)="cerrar()">
                    close
                </span>

                <div class="model-competencia">
                
                    <h2>COMPETENCIAS</h2>
                    <span class="indicacion" >*Actualiza las competencias</span>
                    <div class="container-competencia">
                        <textarea id="textarea1" (input)="autoExpand($event, 'textareaContent1')" [(ngModel)]="textareaContent1"></textarea>
                        <textarea id="textarea2" (input)="autoExpand($event, 'textareaContent2')" [(ngModel)]="textareaContent2"></textarea>
                        <textarea id="textarea3" (input)="autoExpand($event, 'textareaContent3')" [(ngModel)]="textareaContent3"></textarea>
                        <textarea id="textarea4" (input)="autoExpand($event, 'textareaContent4')" [(ngModel)]="textareaContent4"></textarea>
                        <textarea id="textarea5" (input)="autoExpand($event, 'textareaContent5')" [(ngModel)]="textareaContent5"></textarea>
                    </div>

                    <div class="buttton-competencia">
                        <button (click)="actualiza()">Actualizar</button>
                    </div>

                </div>

            </div>

        </div>

    </section>

</main>