<loading *ngIf="loading"></loading>
<user-navbar *ngIf="!loading"></user-navbar>
<main *ngIf="curso && !loading">
    <nav class="titulo">
        <div class="titulo-curso">
            <div class="flecha">&#9668;</div>
            <h1>{{curso.nombre}}</h1>
        </div>

        <div class="user-progreso">
            <div class="progreso">
                <div class="barra">
                    <div class="barra-progreso" [style.width.%]="porcentaje">
                        <span>{{porcentaje}}%</span> 
                    </div>
                </div>
            </div>
        </div>

        <div class="exam-foro">
            <button class="examen" *ngIf="examen"> Haz el Examen aquí</button>
            <button class="foro">
                <span class="material-symbols-outlined">
                    forum
                </span>
                <span class="info">Foro</span>
            </button>
        </div>
    </nav>

    <section class="descripcion">
        <div class="video-descripcion">
            <iframe [src]="curso.presentacion" frameborder="0"></iframe>
        </div>
        <div class="texto-descripcion">
            <h2> Descripción </h2>
            <p>
                {{curso.descripcion}}
            </p>
        </div>
    </section>

    <section class="modulos">
        <h2>Módulos</h2>
        <div class="lista-modulos">

            <div class="card" *ngFor="let modulo of modulos; let i = index">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="container-img">
                                <img [src]="modulo.portada" alt="">
                            </div>
                            <div class="container-title">
                                <h2>Modulo {{i +1}}</h2>
                                <h3>{{modulo.titulo}}</h3>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <span class="description">Descripción</span>
                            <p class="description-text">
                                {{modulo.descripcion}}
                            </p>
                            <button class="course-button" (click)="verModulo(modulo.id_modulo)">
                                Ver más
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-progress">
                    <div class="progreso-carta">
                        <div class="barra-carta">
                            <div class="barra-progreso-carta" [style.width.%]="porcentaje_Modulo">
                            </div>
                        </div>
                    </div>
                    <span>{{porcentaje_Modulo}}%</span> 
                </div>
            </div>
                
        </div>
    </section>

</main>
