<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">

    <div class="container-resource">

        <div>
          <label>Nombre del {{titulo}}</label>
          <div>
    
            <input class="form-control"
            type="text"
            name="nombre"
            [class.is-invalid]="nombre.invalid && nombre.touched"
            [(ngModel)]="recursoVideo.nombre"
            required
            placeholder="Nombre"
            #nombre="ngModel">

            <div *ngIf="nombre.invalid && nombre.touched" class="invalid-feedback">
                El nombre es requerido.
            </div>
          </div>
        </div>

        <div>
            <label>Url del {{titulo}}</label>
            <div class="col-8">
      
              <input class="form-control"
                     type="text"
                     name="url"
                     [class.is-invalid]="url.invalid && url.touched"
                     [(ngModel)]="recursoVideo.url"
                     required
                     placeholder="Enlace"
                     #url="ngModel">
                     
              <div class="invalid-feedback" 
                     *ngIf="url.invalid && url.touched">
              El campo es requerido </div>
            </div>
          </div>
        
        <div class="button-resource">
            <button type="submit">
              <span class="button-content">Generar</span>
            </button>
        </div>
</div>
</form>
