main{
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(203,177,236,1) 11%, rgba(204,255,254,1) 63%);
    min-height: 91.5vh;
    padding: 30px 20px 10px 20px;
}

.container{
    display: flex;
    flex-direction: column;
    margin: .625rem;
    padding: 10px;
}

.Retorno{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Retorno:hover {
    color: #00BFA6;
}

.vista-resource{
}



@media (min-width: 800px) {


}
