<user-navbar></user-navbar>
<main>
  <section class="container">
    <div class="Retorno">
      <div class="flecha">&#9668;</div>
      <h3 (click)="onRegresar()">Regresar - Modulo</h3>
    </div>

    <div class="contenido-curso">

      <div class="vista-resource">

        <div class="recursos">

          <div class="titulo-contenedor">
            <h1>Recursos</h1>
          </div>
          
          <div class="mydict">

            <label>
              <input 
                type="radio" 
                name="radio"
                required
                [value]="valueVideo"
                (click)="validarSeleccionado(valueVideo)">
              <span>{{valueVideo}}</span>
            </label>

            <label>
              <input
               type="radio" 
               name="radio"
               required 
               [value]="valuePodcast"
               (click)="validarSeleccionado(valuePodcast)">
              <span>{{valuePodcast}}</span>
            </label>
            
            <label>
              <input
               type="radio" 
               name="radio"
               required 
               [value]="valueTextoPlano"
               (click)="validarSeleccionado(valueTextoPlano)">
              <span>{{valueTextoPlano}}</span>
            </label>

            <label>
              <input
               type="radio" 
               name="radio"
               required 
               [value]="timeLine"
               (click)="validarSeleccionado(timeLine)">
              <span>{{timeLine}}</span>
            </label>


          </div>
          
          
        </div>
        
        
      </div>
      <hr>

      <div class="resource-container">

        <app-resource-plain-text *ngIf="opciones.isTextoPlano; else noOpcion"></app-resource-plain-text>
        <app-resource-time-line *ngIf="opciones.isTimeLine"></app-resource-time-line>
        <app-resource-podcast *ngIf="opciones.isPodcast"></app-resource-podcast>
        <app-resource-video *ngIf="opciones.isVideo"></app-resource-video>
        
        <ng-template #noOpcion>
          <div *ngIf="!opciones.isTextoPlano && !opciones.isTimeLine && !opciones.isPodcast && !opciones.isVideo"
              class="alert alert-info">No ha seleccionado ninguna opción</div>
        </ng-template>


      </div>
      
    </div>
        
        
        
  </section>
</main>