<section #homeSection class="bloque-principal">

    <header>
        <div class="container">

            <div class="izquierda">
                <div class="cont-logo"></div>
                <h1>OSL UDES</h1>
            </div>
    
            <div class="derecha">

                <div class="container">
                    <button (click)="login()" class="login-session">
                        Iniciar sesión
                    </button>
                </div>

            </div>

        </div>
    </header>

    <div class="contenedor-texto">
        <div class="container">

        <div class="texto">
            <h1>
                Anímate a sumergirte en el mundo del conocimiento
            </h1>
    
            <p>
                Descubre el poder transformador de la investigación. Sumérgete en el apasionante mundo del conocimiento y desbloquea nuevas perspectivas. Tu participación marca la diferencia en la búsqueda de soluciones innovadoras y avances significativos. ¡Anímate a ser parte del cambio y deja tu huella en el futuro!
            </p>
    
            <button class="button-courses" (click)="register()">
                Inicia la aventura
            </button>
        </div>

            <div class="img"></div>

        </div>

    </div>

</section>
