<section #noticiasSection class="news">
    <div class="container">
        <div class="texto">
            <h1>NOTICIAS</h1>
            <p>
                ¡Atrévete a mantenerte actualizado con las últimas novedades que se descubren cada día! Explora un mundo de conocimiento en constante evolución.
            <div class="container-cards">
                <div class="card">
                    <div class="container-card">
                        <div class="image">
                            <h2 class="title-mobile">NOTICIA</h2>
                            <button class="ver-mobile">Saber más</button>
                        </div>
                        <h2 class="title-web"></h2>
                        <p class="parrafo">

                        </p>
                        <button class="ver-web">Saber más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
