.background{
    height: 100vh;
    background-color: rgb(7, 17, 58);
    opacity: .7;
}

.reset{
    user-select: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.container{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    background-color: rgba(252, 253, 253, 0.473);
    width: clamp(20rem, 36vw, 90rem);
    border: 1px solid #fdfdfd;
    box-shadow: 0 0 20px rgba(175, 175, 175, 0.541);
    border-radius: 5px;
}

.container-password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container-password h2{
    text-shadow: 0 0 10px #0066ff;
    font-size: clamp(1.2rem, 5vw, 2rem);
}

.close{
    width: 100%;
    margin-bottom: 12px;
}

.material-symbols-outlined{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #151453;
    font-weight: bold;
    cursor: pointer;
}

.img-reset{
    background-image: url("../../../../assets/image/panda-lindo-trabajando.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: clamp(50px, 5vw, 80px) clamp(42px, 4.2vw, 100px);
    margin-bottom: 5px;
}

form{
    display: flex;
    flex-direction: column;
}

form span{
    font-size: clamp(.8rem, 5vw, 1rem);
    text-shadow: 0 0 10px #0066ff;
    font-weight: 600;
    padding-bottom: 22px;
}

input[type="text"], form button{
    border: 0;
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid #c5c5c5;
    outline: none;
    transition: .25s;
    z-index: 1;
    padding: clamp(5px, 5vw, 15px) clamp(15px, 15vw, 40px);
}

.form-text{
    color: #e7e7e7c5;
    position: absolute;
    top: 71.6%;
    left: 33.6%;
    transition: transform .5s, #346576 .3s;
    font-size: clamp(10px, 3vw, 18px); 
    font-weight: 700;
}

input[type="text"]:not(:placeholder-shown) {
    color: #dadce2;
    font-weight: 600;
    font-size: clamp(13px, 4vw, 20px); 
    text-shadow: 0 0 10px #194588;
}

input[type="text"]:not(:placeholder-shown)+.form-text {
    color: #d3d3d3;
    transform: translate(clamp(70px, 12vw, 480px),-39px) scale(1);
    transform-origin: left top;
    text-shadow: 0 0 10px #0066ff;
    font-size: clamp(10px, 3vw, 14px); 
    font-weight: 500;
}


form button{
    margin-top: 8px;
    font-size: clamp(12px, 2vw, 15px);
    color: #f0f0f0;
    font-weight: 700;
    cursor: pointer;
}

form button:hover{
    background-color: #01a59d;
    box-shadow: 0 0 20px rgba(175, 175, 175, 0.541);
}
