<section #cursosSection class="cursos">
    <div class="container">
        <div class="texto">
            <h1>CURSOS</h1>
            <p>
                Descubre nuestros cursos en línea abiertos al público. Aprende a tu ritmo, desde donde quieras. ¡Inscríbete hoy!
            </p>
            <div class="container-cards">

                <div class="card">
                    <div class="container-card">
                        <div class="image">
                            <h2 class="title-mobile">Buenas Practicas de Manufactura (BPM)</h2>
                            <button class="ver-mobile">Ver más</button>
                        </div>
                        <h2 class="title-web">Buenas Practicas de Manufactura (BPM)</h2>
                        <p class="parrafo">
                            La finalidad del curso es dar a conocer a los estudiantes diferentes principios y requisitos sanitarios que se encuentran establecidos en la Resolución 2674 del 2013 con el objetivo de asegurar el conocimiento sobre Buenas Prácticas de Manufactura (BPM) en la industria alimentaria garantizando en los alimentos condiciones sanitarias adecuadas y además se disminuyan los posibles riesgos existentes en la fabricación, procesamiento, preparación, envase, almacenamiento, transporte, distribución y comercialización de alimentos y materias primas de alimentos.
                        </p>
                        <button class="ver-web">Ver más</button>
                    </div>
                </div>

                <div class="card">
                    <div class="container-card">
                        <div class="image">
                            <h2 class="title-mobile">Buenas Practicas de Manufactura (BPM)</h2>
                            <button class="ver-mobile">Ver más</button>
                        </div>
                        <h2 class="title-web">Buenas Practicas de Manufactura (BPM)</h2>
                        <p class="parrafo">
                            La finalidad del curso es dar a conocer a los estudiantes diferentes principios y requisitos sanitarios que se encuentran establecidos en la Resolución 2674 del 2013 con el objetivo de asegurar el conocimiento sobre Buenas Prácticas de Manufactura (BPM) en la industria alimentaria garantizando en los alimentos condiciones sanitarias adecuadas y además se disminuyan los posibles riesgos existentes en la fabricación, procesamiento, preparación, envase, almacenamiento, transporte, distribución y comercialización de alimentos y materias primas de alimentos.
                        </p>
                        <button class="ver-web">Ver más</button>
                    </div>
                </div>

                <div class="card">
                    <div class="container-card">
                        <div class="image">
                            <h2 class="title-mobile">Buenas Practicas de Manufactura (BPM)</h2>
                            <button class="ver-mobile">Ver más</button>
                        </div>
                        <h2 class="title-web">Buenas Practicas de Manufactura (BPM)</h2>
                        <p class="parrafo">
                            La finalidad del curso es dar a conocer a los estudiantes diferentes principios y requisitos sanitarios que se encuentran establecidos en la Resolución 2674 del 2013 con el objetivo de asegurar el conocimiento sobre Buenas Prácticas de Manufactura (BPM) en la industria alimentaria garantizando en los alimentos condiciones sanitarias adecuadas y además se disminuyan los posibles riesgos existentes en la fabricación, procesamiento, preparación, envase, almacenamiento, transporte, distribución y comercialización de alimentos y materias primas de alimentos.
                        </p>
                        <button class="ver-web">Ver más</button>
                    </div>
                </div>

                <div class="card">
                    <div class="container-card">
                        <div class="image">
                            <h2 class="title-mobile">Buenas Practicas de Manufactura (BPM)</h2>
                            <button class="ver-mobile">Ver más</button>
                        </div>
                        <h2 class="title-web">Buenas Practicas de Manufactura (BPM)</h2>
                        <p class="parrafo">
                            La finalidad del curso es dar a conocer a los estudiantes diferentes principios y requisitos sanitarios que se encuentran establecidos en la Resolución 2674 del 2013 con el objetivo de asegurar el conocimiento sobre Buenas Prácticas de Manufactura (BPM) en la industria alimentaria garantizando en los alimentos condiciones sanitarias adecuadas y además se disminuyan los posibles riesgos existentes en la fabricación, procesamiento, preparación, envase, almacenamiento, transporte, distribución y comercialización de alimentos y materias primas de alimentos.
                        </p>
                        <button class="ver-web">Ver más</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
