    <particles></particles>
    <main>
        <div class="login-box" *ngIf="!loading && !reset">
            <p class="titulo">INICIO DE SESIÓN</p>
            <form>
              <div class="user-box">
                <input required="" name="username" [(ngModel)]="username" type="text">
                <label>Username</label>
              </div>
              <div class="user-box">
                <input required="" name="password" [(ngModel)]="password" type="password">
                <label>Contraseña</label>
              </div>
              <button (click)="login()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                INICIAR SESIÓN
              </button>
            </form>
            <p>¿Olvidaste la contraseña? <a class="a2" (click)="reset_Password()">¡Haz click aquí!</a></p>
            <p>¿No tienes cuenta? <a class="a2" (click)="register()">¡Registrate aquí!</a></p>
          </div>

          <loading *ngIf="loading"></loading>

          <app-reset-password *ngIf="reset" (eventoBooleano)="handleEventoBooleano($event)"></app-reset-password>

    </main>

