<section #quienesSomosSection class="quienes-somos">
    <div class="container">
        <div class="img"></div>
        <div class="texto">
            <h2>QUIENES SOMOS</h2>
            <p>
                Somos un entorno dedicado a la gestión de cursos en línea, diseñado para brindar acceso a la educación de calidad. Nuestra meta es proporcionar a las personas una experiencia de aprendizaje enriquecedora y accesible. A través de contenido interactivo y dinámico, te invitamos a descubrir un mundo de conocimiento y a adquirir habilidades que te impulsen hacia el éxito. Únete a nosotros y comienza tu viaje hacia el aprendizaje significativo.
            </p>
        </div>
    </div>
</section>
