<section>
    <div class="contenedor-modal">
        <div class="modal-body">

            <div class="cierre">
                <span class="material-symbols-outlined" (click)="navegarAtras()">
                    close
                </span>
            </div>
            <div class="content-body">
                <div class="div-koala">
                    <img id="koala-curioso" src="assets/image/lindo-koala.png" alt="">
                </div>

                <div class="container-info">

                    
                    <div class="titulo-modal">
                        <h2>¿Sabías qué?</h2>
                    </div>

                    <div class="container">

                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>