<main>
    <section class="modal-body" *ngIf="modulo">
        <div class="close" (click)="close()">
            <span class="material-symbols-outlined">
                close
            </span>
        </div>

        <div class="content-body">
            <div class="titulo-modal">
                <h2>{{modulo.nombre}}</h2>
            </div>

            <div class="container">

                <div class="descripcion">
                    <div class="titulo" (click)="tab('description')">
                        <h3>Descripción</h3>
                        <span class="material-symbols-outlined">
                            {{tabDescription}}
                        </span>
                    </div>
                    <div class="contenido" *ngIf="description">
                        <p>
                            {{modulo.descripcion}}
                        </p>
                    </div>
                </div>

                <div class="descripcion">
                    <div class="titulo" (click)="tab('objetivo')">
                        <h3>Objetivo de aprendizaje</h3>
                        <span class="material-symbols-outlined">
                            {{tabObjetivo}}
                        </span>
                    </div>
                    <div class="contenido" *ngIf="objetivo">
                        <p>
                            {{modulo.objetivo}}
                        </p>
                    </div>
                </div>

                <div class="descripcion">
                    <div class="titulo" (click)="tab('competencia')">
                        <h3>Competencias asociadas</h3>
                        <span class="material-symbols-outlined">
                            {{tabCompetencia}}
                        </span>
                    </div>
                    <div class="contenido" *ngIf="competencia">
                        <ul>
                            <li *ngFor="let competencia of modulo.competencias">
                                {{ competencia.nombre }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="descripcion">
                    <div class="titulo" (click)="tab('duracion')">
                        <h3>Duración</h3>
                        <span class="material-symbols-outlined">
                            {{tabDuracion}}
                        </span>
                    </div>
                    <div class="contenido" *ngIf="duracion">
                        <p>
                            {{modulo.duracion}} Hora(s)
                        </p>
                    </div>
                </div>

                <div class="descripcion">
                    <div class="titulo" (click)="tab('tema')">
                        <h3>Temas y subtemas</h3>
                        <span class="material-symbols-outlined">
                            {{tabTema}}
                        </span>
                    </div>
                    <div class="contenido" *ngIf="tema">
                        <div class="info-tema" *ngFor="let tema of modulo.temas">
                            <label>
        
                                <h4>{{ tema.nombre }}</h4>
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </label>

                            <div class="inforContent">
                                <div class="competencias">
                                    <ul>
                                        <li *ngFor="let subtema of tema.subtemas">
                                            {{ subtema.nombre }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  

            </div> 

            <button (click)="verModulo()">Iniciar módulo</button>

        </div>
    </section>
</main>
