.container-menu{
    background-color: #2E95B6;
}

#btn-menu{
    display: none;
}

.burger{
    background-color: #2E95B6;
    width: 100%;
    max-width: 50px;
    position: fixed;
    z-index: 1;
}

.burger #burger{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #e4e4e4;
    cursor: pointer;
}

.container-menu{
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    min-height: 100vh;
    height: 100%;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    cursor: pointer;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

@media (min-width: 630px) {

    .burger #burger .material-symbols-outlined{
        font-size: 2.5rem;
        font-weight: bolder;
    }

}